* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  margin: auto;
  max-width: 1650px;
  font-family: "Times New Roman", Times, serif;
}

.container {
  background-position: center;
  background-size: cover;
  height: 85px;
  width: 100%;
}
.bar {
  background-color: rgba(0, 0, 0, 0.427);
  height: 70px;
}
menu {
  width: 80%;
}
img {
  float: left;
  height: 40px;
  width: 400px;
}
menu ul li {
  display: inline-block;
  padding-top: 20px;
}
menu ul li a {
  text-decoration: none;
  padding: 30px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #b7a6aa;
  cursor: pointer;
}
menu ul li a {
  transition: 0.5s;
}
menu ul li a:hover {
  color: #fbe78a;
  text-shadow: 0 0 10px #fbe78a, 0 0 20px #fbe78a, 0 0 40px #fbe78a,
    0 0 80px #fbe78a, 0 0 120px #fbe78a, 0 0 160px #fbe78a;
}
ul {
  float: right;
}
menu ul li a:hover {
  color: lightgoldenrodyellow;
}

.section {
  width: 100%;
  height: 673px;
}
.section .con {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
}
.con .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.con .title h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: white;
}
.con .title h1::after {
  content: "";
  height: 5px;
  width: 100px;
  background-color: #e7c450;
  border-radius: 25px;
  display: block;
  margin: auto;
}
.content {
  float: left;
  width: 60%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 95%;
  height: auto;
}
.content .article h3 {
  margin-top: 30px;
  color: black;
  font-size: 20px;
}
.content .article p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.content .article .button {
  margin-top: 50px;
}
.content .article .button a {
  text-decoration: none;
  padding: 8px 25px;
  background-color: rgb(0, 153, 255);
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.content .article .button a:hover {
  color: #fff;
  background-color: rgb(255, 190, 71);
  transition: 1s ease;
}
.con .social {
  width: 100%;
  clear: both;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
}
.con .social i {
  margin: 0 5px;
  overflow: hidden;
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 45px;
  float: center;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  line-height: 45px;
  text-align: center;
  background-color: rgb(0, 153, 255);
  margin: 0px 5px;
  transition: all 0.3s ease-out;
}
.con .social i:hover {
  width: 200px;
  color: #fff;
  background-color: rgb(255, 190, 71);
  transition: 1s ease;
}
@media screen and (max-width: 768px) {
  .section .con {
    width: 80%;
    display: block;
    margin: auto;
  }
  .content {
    float: none;
    width: 100%;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
    margin-top: 50px;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .con .title h1 {
    text-align: center;
    font-size: 30px;
  }
  .con .article .button {
    text-align: center;
  }
  .con .article .button {
    padding: 6px 15px;
    font-size: 16px;
  }
  .con .social i {
    font-size: 19px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}
body {
  background-image: linear-gradient(
    rgba(0, 79, 170, 0.607),
    rgb(70, 141, 255),
    rgb(255, 190, 71)
  );
}
