* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  margin: auto;
  max-width: 1600px;
  font-family: "open sans", sans-serif;
}
h1 {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  background-color: rgba(197, 223, 255, 0.474);
  padding-top: 40px;
  padding-bottom: 10px;
}
.container {
  background-position: left;
  background-size: cover;
  height: 1000px;
  width: 100%;
}
.bar {
  background-color: rgba(0, 0, 0, 0.427);
  height: 75px;
  margin-bottom: 300px;
}
body {
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}
menu {
  width: 80%;
}
img {
  float: left;
  height: 40px;
  width: 400px;
}
menu ul li {
  display: inline-block;
  padding-top: 20px;
}
menu ul li a {
  text-decoration: none;
  padding: 30px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #b7a6aa;
  cursor: pointer;
}
menu ul li a {
  transition: 0.5s;
}
menu ul li a:hover {
  color: #fbe78a;
  text-shadow: 0 0 10px #fbe78a, 0 0 20px #fbe78a, 0 0 40px #fbe78a,
    0 0 80px #fbe78a, 0 0 120px #fbe78a, 0 0 160px #fbe78a;
}
ul {
  float: right;
}
menu ul li a:hover {
  color: lightgoldenrodyellow;
}
body {
  transition: 0.6s linear;
}
body {
  background: url(./img/image4.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

li {
  float: left;
}
.con {
  background-position: left;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.682);
  padding-top: 20px;
  padding-bottom: 20px;
}
.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 390px;
}
.gallery img {
  width: 100%;
  height: auto;
}
.gallery:hover {
  transform: scale(0.9);
  z-index: 2;
}
.desc {
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.reg {
  text-align: center;
  margin-top: 20px;
}

.bg {
  background-image: linear-gradient(
    white,
    rgb(255, 255, 176),
    rgb(255, 205, 119),
    rgb(79, 152, 255)
  );
}
